@()

@main("東京メトロオープンデータサンプルAPI") {
    <div class="container">
      <div class="page-header">
        <h1>東京メトロオープンデータサンプルAPI</h1>
        <p class="lead"><a href="https://developer.tokyometroapp.jp">東京メトロオープンデータ</a>API Response.</p>
      </div>

      <div class="row">
        <div class="col-md-12">
		  <div class="btn-group  btn-group-sm">
			  <button type="button" class="btn btn-default">列車ロケーション情報	</button>
			  <button type="button" class="btn btn-default">運行情報</button>
			  <button type="button" class="btn btn-default">駅時刻表</button>
			  <button type="button" class="btn btn-default">施設情報</button>
			  <button type="button" class="btn btn-default">駅情報</button>
			  <button type="button" class="btn btn-default">運賃情報</button>
			  <button type="button" class="btn btn-default">地物（駅出入口）情報</button>
			  <button type="button" class="btn btn-default">地物（駅）情報</button>
			  <button type="button" class="btn btn-default">地物（線路）情報</button>
			  <button type="button" class="btn btn-default">東京メトロ駅情報</button>
			  <button type="button" class="btn btn-default">東京メトロ路線情報</button>
		  </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        <h2>列車ロケーション情報</h2>
        <p class="lead">odpt:Train</p>
        <div id="contents"  class="table-responsive"></div>
        </div>
	  </div>

      </div>
}{
<script>
$(function() {
	$.ajax({
	  type: 'GET',
	  url: '/api/odpt:Train',
	  dataType: 'json',
	  success: function(json){
	  console.log(json);
	  $('#contents').columns({
      data:json
      });
	  },
	  error: function(json){
	  }
	});
});
</script>
}{
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/clean.css")">
}
